<!DOCTYPE html>
<html ng-app="tendoTest">
  <head>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-controller="StepController as flow">
    <div class="container">
      <section>
        <ul class="nav nav-pills">
          <li ng-repeat="step in flow.steps" id="{{flow.stepTab}}" ng-class="{ active:flow.isSet({{step.number}}) }"><a href="" ng-click="flow.setStep(step.number)">Step {{step.number}}</a></li>
        </ul>
        <div ng-repeat="step in flow.steps" ng-show="flow.isSet(step.number)">
          <p>{{step.description}}</p>
        </div>
      </section>
    </div>
  </body>
</html>